/*reset-nav*/

* {
    margin: 0;
    padding: 0;
    font-family: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/* nav */

.nav {
    height: 100px;
    background: #fffc00;
    background: -webkit-linear-gradient(to right, #ffffff, #fffc00);
    background: linear-gradient(to right, #ffffff, #fffc00);
}

.navbar {
    padding-left: 3em;
}

a:hover {
    color: red;
    text-decoration-line: none;
}

.letras {
    font-size: 18px;
    font-style: normal;
    padding: 24px;
    padding-left: 6em;
    color: black;
    font-weight: 600;
    letter-spacing: 0.1em;
}

li {
    padding-left: 2em;
}

#footer .copyright {
    text-align: center;
    margin: 0 0 5px 0;
}


/*Imagenes*/

.container-teacher {
    padding: 75px;
}

.container-contact {
    padding: 75px;
}

.container-location {
    padding: 75px;
}

.container-notice {
    text-align: center;
    padding: 75px;
}


/* footer */

#footer {
    position: static;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    background: #fffc00;
    /* fallback for old browsers /
  / Chrome 10-25, Safari 5.1-6 /
  / W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-size: 15px;
    padding: 10px 0;
}